body {
        margin: 0;
        padding: 0;
        outline: 0;
        font-size: 100%;
    }

.playing {
    background-color: #E2E6F2;
}

.overlay_correct {
  box-sizing: border-box;
  height: 96px;
  width: 96px;
  border: 2px solid #90EB9B;
  background-color: rgba(255,255,255,0.85);
}

.overlay_wrong {
  box-sizing: border-box;
  height: 96px;
  width: 96px;
  border: 2px solid #F45757;
  background-color: rgba(255,255,255,0.8);
}

#threecolspictures_and_destinations {
    width: 99vw;
    height: 80vh;
}

#threecolspictures_and_destinations td {
  height: 30%;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  border-style: outset;
}

#threecolspictures_and_destinations td img {
 height:75%;
 max-height:19vh;
 width:auto;
 max-width: 33vw;
 margin-left: auto;
 margin-right: auto;
 display:grid;
 align-content: center;
}

#fourcolspictures_and_destinations {
    width: 99vw;
    height: 80vh;
}

#fourcolspictures_and_destinations td {
  height:30%;
  width: 25%;
  max-width: 24vw;
  margin-left: auto;
  margin-right: auto;
  border-style:outset;
  vertical-align: bottom;
}

#fourcolspictures_and_destinations td img {
 height:75%;
 max-height:19vh;
 width:auto;
 max-width: 24vw;
 margin-left: auto;
 margin-right: auto;
 display:grid;
 align-content: center;
}

.destination {
  border-style: solid;
  border-color: #625E70;
  background-color: white;
  text-align: center;
  height:22%;
  font-family: 'Sen', sans-serif;
  font-size: 40px;
  min-height: 43px;
  vertical-align: bottom;
  }

#header {
    background-color: #5D38DB;
    border: 1px solid #E2E6F2;
    font-size: 30px;
    width: 100vw;
    padding-left: 5px;
    text-align: left;
    display: block;
    align-items: left;
    font-family:'Sen', sans-serif;
    color: #DED7F7;
}

#back_button{
  display: inline-block;
  width: 20%;
  color: #DED7F7;
  align-self: center;
}

#back_button_text {
  display: inline-block;
}

#back_button img {
  display:inline-block;
  align-self: center;
  height: 25px;
  margin: auto;
}

#title {
  display:inline-block;
  align-items: center;
  text-align: center;
  width: 75%;
  font-family:'Sen', sans-serif;
  color: #DED7F7;
  text-size: 45px;

}

#sourcetable {
    display: flex;
    flex-wrap: wrap;
}


* {
	cursor : pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


#answers_div {
  display:flex;
  flex-wrap: wrap;
}

.source {
  text-align: center;
  border-style: solid;
  overflow : wrap;
  font-family: 'Sen', sans-serif;
  font-size: 80px;
  min-height:80px;
  color: #625E70;
  display: flex;
  margin: 16px;
  justify-content: space-between;

}
.source div {
  padding-left: 5px;
  padding-right: 20px;
    display: inline-block;
      justify-content: space-between;
}
#answers_div div img {
  display: inline-block;
  padding-right: 5px;
  justify-content: space-between;
  align-self: center;
  height : 40px;
}
.correct_answer {
  background-color: #5D38DB;
}

.wrong_answer {
color: red;
}
