.playing {
    background-color: gray;
}


#threecolspictures_and_destinations {
    width: 99vw;
    height: 80vh;
}

#threecolspictures_and_destinations td {
  height: 30%;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  border-style: outset;
}

#threecolspictures_and_destinations td img {
 height:75%;
 max-height:20vh;
 width:auto;
 max-width: 33vw;
 margin-left: auto;
 margin-right: auto;
 display:grid;
 align-content: center;
 border: 1px;
}

#fourcolspictures_and_destinations {
    width: 99vw;
    height: 80vh;
}

#fourcolspictures_and_destinations td {
  height:30%;
  width: 25%;
  max-width: 25vw;
  margin-left: auto;
  margin-right: auto;
  border-style:outset;
}

#fourcolspictures_and_destinations td img {
 height:75%;
 max-height:20vh;
 width:auto;
 max-width: 25vw;
 margin-left: auto;
 margin-right: auto;
 display:grid;
 align-content: center;
 border: 1px;
}

.destination {
  border-style: dashed;
  text-align: center;
  padding: 1px;
  height:22%;
  font-family: 'Sen', sans-serif;
  min-height: 45px;
  }

#header {
    background-color: #abcdef;
    border: solid black 3pt;
    border-radius: 25px;
    font-size: 45px;
    padding-left: 5px;
    text-align: left;
    font-family:'Sen', sans-serif;
    text-shadow: 0px 1px 1px #fff;
}

#back_button{
  display:inline-block;
  width: auto;
}

#back_button img {
  display:inline-block;
  height: 50px;
}

#title {
  text-align: center;
  display:inline-block;
  min-width: 40vw;

}

#sourcetable {
    display: flex;
    flex-wrap: wrap;
}


* {
	cursor : pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


#answers_div {
  display:flex;
  flex-wrap: wrap;
}

.source {
  text-align: center;
  border-style: dotted;
  overflow : wrap;
  font-family: 'Sen', sans-serif;
  font-size: 80px;
  min-height:80px;

  display: flex;
  justify-content: space-between;

}
.source div {
  padding-left: 5px;
  padding-right: 20px;
    display: inline-block;
      justify-content: space-between;
}
#answers_div div img {
  display: inline-block;
  padding-right: 5px;
    justify-content: space-between;
    align-self: center;
}

.correct_answer {
  background-color: #70db70;
}

.wrong_answer {
color: red;
}
