window {
  width: 100%;
  max-width: 100%;
}

table
{
    height: 80vh;
    border-spacing: 3px;
      align-content: center;
}

th {
    background-color: blue;
}

#header {
    background-color: #abcdef;
    border: solid black 3pt;
    border-radius: 25px;
    font-size: 2em;
    text-align: center;
    font-family:'Didact Gothic', sans-serif;
    text-shadow: 0px 1px 1px #fff;
    //background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#999));
}

#sourcetable {
    display: flex;
    flex-wrap: wrap;
}

.emphasized {
    display: inline;
    font-weight: bold;
    text-decoration: underline;
}

* {
	cursor : pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


#pictures_and_destinations {
  border: 1px;
  }

#answers {
  text-align: center;
  border-style: dotted;
  overflow :auto;
  font-family: 'Sen', sans-serif;
  font-size: 32px;
}

.image {
margin: auto;
}

.image > img {
 margin: auto;
 height:25vh;
 border-style: solid;
}
.destination {
  border-style: dashed;
  text-align: center;
  padding: 8px;
  }
