
#pictures_and_destinations
{
    width: 99vw;
    height: 90vh;
}
#pictures_and_destinations td{
  height:30%;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  border-style:outset;
}

th {
    background-color: blue;
}

#header {
    background-color: #abcdef;
    border: solid black 3pt;
    border-radius: 25px;
    font-size: 2em;
    text-align: center;
    font-family:'Didact Gothic', sans-serif;
    text-shadow: 0px 1px 1px #fff;
}

#sourcetable {
    display: flex;
    flex-wrap: wrap;
}

.emphasized {
    display: inline;
    font-weight: bold;
    text-decoration: underline;
}

* {
	cursor : pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


#pictures_and_destinations {
  border: 1px;
  }
#answers_div {
  display:flex;
  flex-wrap: wrap;
}
#answers_div div{
  text-align: center;
  border-style: dotted;
  overflow : wrap;
  font-family: 'Sen', sans-serif;
  font-size: 45px;
  min-height: 45px;
}

.correct_answer {
  background-color: #70db70;
}

.wrong_answer {
color:red;
}
img {
 height:75%;
 max-height:20vh;
 width:auto;
 max-width: 30vw;
 margin-left: auto;
 margin-right: auto;
 display:grid;
 align-content: center;
}
.destination {
  border-style: dashed;
  text-align: center;
  padding: 1px;
  height:20%;
  font-family: 'Sen', sans-serif;
  font-size: 32px;
  }
